.row {
    height: 40px;
}

.tile {
    display : inline-flex;
    background-color : black;
}

.space {
    background-color : black
}

.asteroid {
    background-image : url('/tiles/asteroid.png')
}

.station {
    background-image : url('/tiles/station.png')
}
